<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="index align-left">

            <!-- Professional Experience -->
            <section id="main_content">
                <header>
                    <h2>Professional Experience</h2>
                </header>
                <div class="content">

                    <header style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h3>Visualization & Interface Design Innovation (VIDI) Lab @UC Davis</h3>
                            <p>Graduate Student Researcher</p>
                        </div>
                        <div style="text-align: right;">
                            <p>Jul 2023 - Present</p>
                            <p>Davis, CA</p>
                        </div>
                    </header>
                    <ul>
                        <li>Surveyed 5+ Deep-Learning-based and transform-based compression techniques, focusing on data
                            loss control mechanisms</li>
                        <li>Devised 10+ experiments to refine neural network architectures with spatial partitioning,
                            importance sampling, and
                            progressive framework strategies</li>
                        <li>Accomplished up to 5 dB PSNR improvement in neural compression for volume datasets</li>
                    </ul>

                    <hr />

                    <header style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h3>International Games System Co., Ltd.</h3>
                            <p>Industry-Academia Partnership Student</p>
                        </div>
                        <div style="text-align: right;">
                            <p>Dec 2021 - May 2022</p>
                            <p>Taipei, Taiwan</p>
                        </div>
                    </header>
                    <ul>
                        <li>Implemented 2D web-based slot game (frontend part) by following the company’s standard
                            development process</li>
                        <li>Implemented game logic flow with about 5000 lines of Typescript codes by integrating
                            predesigned modules </li>
                        <li>Displayed visual effects and animations with assigned materials using Cocos Creator</li>
                    </ul>

                </div>
            </section>

            <!-- Projects -->
            <section>
                <header>
                    <h2>Projects</h2>
                </header>
                <div class="content">
                    <header>
                        <h3>
                            Error-Bounded Hybrid Compressor Integrating Neural Networks and Wavelet Transform Techniques
                        </h3>
                        <p>Tech stack: C++/CUDA/SYCL</p>
                    </header>
                    <ul>
                        <li>Developed modular and extensible progressive compression pipeline using object-oriented
                            principle (i.e., polymorphism),
                            seamlessly integrating neural and wavelet transform-based (e.g., SPERR) compressors</li>
                        <li>Accelerated neural compressor sampling and training to complete within minutes with CUDA and
                            tiny-cuda-nn library</li>
                        <li>Attained cross-platform application on NVIDIA and Intel GPU by integrating CUDA and SYCL as
                            training backends</li>
                    </ul>

                    <hr />

                    <header>
                        <h3>
                            Tiny-SYCL-NN Project
                        </h3>
                        <p>Tech stack: C++/SYCL/Libtorch</p>
                    </header>
                    <ul>
                        <li>Achieved 2x faster MLP inference with SYCL programming compared to native PyTorch on Intel
                            Arc A770 GPU</li>
                        <li>Engaged with Intel to benchmark network inference and training between Intel Arc A770 and
                            Data Center GPU based on
                            their tiny-dpcpp-nn library, analyzing execution time and resource utilization</li>
                        <li>Built complete C++/SYCL training pipeline by extending tiny-dpcpp-nn library with Libtorch
                            frontend</li>
                    </ul>

                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>Volume Rendering System</h3>
                                <p>Tech stack: C++/OpenGL/GLSL/Real-time Rendering</p>
                            </header>
                            <ul>
                                <li>Rendered CT/MRI images in real-time using ray casting and GLSL programming</li>
                                <li>Created interactive 1D/2D transfer function UI with glut to select and view
                                    emphasized features in data</li>
                            </ul>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/Volume_rendering.png" alt="Volume Rendering">
                        </div>
                    </div>

                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>3D Multiplayer Online Game</h3>
                                <p>Tech stack: C#/Unity</p>
                            </header>
                            <ul>
                                <li>Developed multiplayer party game supporting up to 8 players with real-time chat,
                                    leveraging Photon Unity Networking to
                                    manage gameplay and communication data exchange</li>
                                <li>Designed extensible system with object-oriented design pattern, singleton design
                                    pattern, and state machine</li>
                                <li>Led six-person team to win the Excellent Work Award in Undergraduate Student Final
                                    Project Competition among 27 teams</li>
                            </ul>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/3D_game_demo.gif" alt="game demo"
                                style="width: 350px; height: auto; border-radius: 8px;">
                        </div>
                    </div>

                    <hr />

                    <header>
                        <h3>Bookkeeping Web System Backend</h3>
                        <p>Tech stack: Python Flask/MongoDB</p>
                    </header>
                    <ul>
                        <li>Led three-person team to implement server-side application by designing 27 RESTful APIs with
                            Python Flask and
                            establishing database with MongoDB; passed load testing with 500 active users</li>
                        <li>Followed full software development process (e.g., Waterfall) with complete documentation
                        </li>
                    </ul>
                    
                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>Physics Simulation System</h3>
                                <p>Tech stack: C++/OpenGL</p>
                            </header>
                            <ul>
                                <li>Simulated objects’ linear motion (with gravity and other natural force effects) and collision detection with bounding volume method and spatial partition optimization</li>
                            </ul>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/physics_simulation.gif" alt="physics simulation demo"
                                style="width: 350px; height: auto; border-radius: 8px;">
                        </div>
                    </div>

                </div>
            </section>
        </div>


    </div>
</section>