<!-- Additional Elements -->
<section class="wrapper style1 align-center" id="experience">
    <div class="inner">
        <div class="index align-left">

            <!-- Professional Experience -->
            <section>
                <header>
                    <h2>Professional Experience</h2>
                </header>
                <div class="content">

                    <header style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h3>Visualization & Interface Design Innovation (VIDI) Lab @UC Davis</h3>
                            <p>Graduate Student Researcher</p>
                        </div>
                        <div style="text-align: right;">
                            <p>Jul 2023 - Present</p>
                            <p>Davis, CA</p>
                        </div>
                    </header>
                    <ul>
                        <li>Surveyed 5+ Deep-Learning-based and transform-based compression techniques, focusing on data
                            loss control mechanisms</li>
                        <li>Devised 10+ experiments to refine neural network architectures with spatial partitioning,
                            importance sampling, and
                            progressive framework strategies</li>
                        <li>Accomplished up to 5 dB PSNR improvement in neural compression for volume datasets</li>
                    </ul>

                    <hr />

                    <header style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h3>International Games System Co., Ltd.</h3>
                            <p>Industry-Academia Partnership Student</p>
                        </div>
                        <div style="text-align: right;">
                            <p>Dec 2021 - May 2022</p>
                            <p>Taipei, Taiwan</p>
                        </div>
                    </header>
                    <ul>
                        <li>Implemented 2D web-based slot game (frontend part) by following the company’s standard
                            development process</li>
                        <li>Implemented game logic flow with about 5000 lines of Typescript codes by integrating
                            predesigned modules </li>
                        <li>Displayed visual effects and animations with assigned materials using Cocos Creator</li>
                    </ul>

                </div>
            </section>
        </div>

    </div>
</section>