<!-- Additional Elements -->
<section class="wrapper style1 align-center" id="projects">
    <div class="inner">
        <div class="index align-left">

            <!-- Projects -->
            <section>
                <header>
                    <h2>Projects</h2>
                </header>
                <div class="content">
                    <header>
                        <h3>
                            Error-Bounded Hybrid Compressor Integrating Neural Networks and Wavelet Transform Techniques
                        </h3>
                        <p>Tech stack: C++/CUDA/SYCL</p>
                    </header>
                    <p>
                        Traditional neural compressors lack user-defined error tolerance for controlling data loss. 
                        This project enhances neural compression by integrating the wavelet transform-based compressor, SPERR, 
                        and applying progressive residual error compression in multiple rounds to achieve error-bounded results. 
                        Additionally, cross-platform compatibility was enabled on NVIDIA and Intel GPUs 
                        by incorporating CUDA and SYCL as training backends.
                    </p>

                    <hr />

                    <header>
                        <h3>
                            Tiny-SYCL-NN Project
                        </h3>
                        <p>Tech stack: C++/SYCL/Libtorch</p>
                    </header>
                    <p>
                        SYCL has emerged as a promising programming model for GPGPU computing across various hardware vendors. 
                        This project focuses on optimizing neural network inference, analyzing key performance factors, 
                        and laying the groundwork for our ongoing efforts on neural compression running on Intel platforms.
                    </p>

                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>Volume Rendering System</h3>
                                <p>Tech stack: C++/OpenGL/GLSL/Real-time Rendering</p>
                            </header>
                            <p>
                                This project utilized ray casting in GLSL for real-time CT/MRI rendering. 
                                I developed a 1D/2D transfer function UI with GLUT, enabling users to explore key features. 
                                I also managed multiple system modules to ensure seamless integration and performance.
                            </p>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/volume_rendering.png" alt="Volume Rendering"
                                style="width: 350px; height: auto; border-radius: 8px;">
                        </div>
                    </div>

                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>3D Multiplayer Online Game</h3>
                                <p>Tech stack: C#/Unity</p>
                            </header>
                            <p>
                                Built with Unity and Photon Unity Networking, this game supports real-time voice and text chat, enhancing player collaboration. 
                                The networking system efficiently handles communication for up to 8 players, 
                                while design patterns like singleton and state machine ensure an extensible and scalable architecture.
                            </p>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/3D_game_demo.gif" alt="game demo"
                                style="width: 350px; height: auto; border-radius: 8px;">
                        </div>
                    </div>

                    <hr />

                    <header>
                        <h3>Bookkeeping Web System Backend</h3>
                        <p>Tech stack: Python Flask/MongoDB</p>
                    </header>
                    <p>
                        As a software engineering course final project, we built a web backend using Python Flask and MongoDB, implementing 27 RESTful APIs. 
                        We followed the Waterfall development process, including thorough documentation and test case development, ensuring a structured and reliable implementation.
                    </p>
                    
                    <hr />

                    <div style="display: flex; align-items: center; gap: 20px;">
                        <!-- Left: Project Description -->
                        <div style="flex: 1;">
                            <header>
                                <h3>Physics Simulation System</h3>
                                <p>Tech stack: C++/OpenGL</p>
                            </header>
                            <p>
                                This small computer graphics application simulates linear motion with gravity and natural forces. 
                                It implements collision detection using bounding volume methods and optimizes performance with spatial partitioning techniques.
                            </p>
                        </div>

                        <!-- Right: Image -->
                        <div>
                            <!-- <img src="images/Volume_rendering.png" alt="Volume Rendering" style="width: 250px; height: auto; border-radius: 8px;"> -->
                            <img src="images/physics_simulation.gif" alt="physics simulation demo"
                                style="width: 350px; height: auto; border-radius: 8px;">
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </div>
</section>